@import url("/fonts/style.css");
@import url("/fonts/style1.css");

html {
  font-family: 'Muller';
  background-color: #E5E5E5;;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Анимация */

.nav-right-btn:hover,
.placing-rooms:hover,
.want-tour-btn:hover,
.contacts-btn:hover {
  color: white;
  background-color: #CC9933;
}

.nav-link:hover,
.number:hover {
  color: #CC9933;
}

.link-cabinet:hover {
  color: #F0BF5F;
  background: url('/img/yellow-arrow.svg');
  background-repeat: no-repeat;
  background-position-y: 2px;
}

.service-link:hover {
  color: #F0BF5F;
  background: url('/img/hover-right.svg');
  background-repeat: no-repeat;
  background-position: 98%;
  background-position-y: 1px;
}

.another-choice:hover {
  color: #F0BF5F;
  background-image: url('/img/hover-right.svg');
  background-repeat: no-repeat;
  background-position-x: 254px;
  background-position-y: 1px;
}

.footer-privacy:hover {
  color: #F0BF5F;
}

/* Анимация */

.header {
  height: 160px;
  padding-top: 37px;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
}

.logo {
  margin-right: 40px;
}

.number {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.link-cabinet {
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background: url('/img/vector.svg');
  background-repeat: no-repeat;
  background-position-y: 2px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 70px;
  border-radius: 15px;
  background-color: white;
}

.nav-list {
  display: flex;
  margin-left: 45px;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.nav-right {
  display: flex;
  padding-right: 45px;
}

.nav-right-btn {
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: white;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

.nav-right-btn:not(:last-child) {
  margin-right: 40px;
}

/* special offers */

.special-flex {
  display: flex;
}

.special-list {
  display: flex;
  flex-wrap: wrap;
  width: 573px;
}

.special-offers {
  padding-top: 70px;
  padding-bottom: 70px;
}

.special-heading {
  margin: 0 0 20px 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.special-item {
  display: flex;
  flex-direction: column;
  width: 573px;
  height: 258px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.item-1 {
  background-image: url('/img/palm1.png');
}

.item-2 {
  margin-top: 24px;
  background-image: url('/img/bassein1.png');
}

.gradient-shade {
  height: 100%;
  background-image: url('/img/shade.png');
}

.item-big {
  display: flex;
  flex-direction: column;
  width: 573px;
  height: 540px;
  background-image: url('/img/big-item.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.special-list-big {
  margin-top: 212px;
  margin-left: 45px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.special-price-big {
  margin-top: 15px;
  margin-left: 45px;
  margin-bottom: 47px;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
}

.special-list-heading {
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-list-price {
  margin-top: 15px;
  margin-bottom: 47px;
  margin-left: 45px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.more-information {
  margin-left: 45px;
  margin-bottom: 40px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  background-image: url('/img/rec-right.svg');
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: -1px;
}

.item-big {
  margin-left: 24px;
}

/* О нас */

.about-as {
  padding-bottom: 70px;
}

.about-as-discription {
  width: 75%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  }

  /* service */

.service {
  padding-bottom: 46px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 573px;
  margin-bottom: 24px;
  border-radius: 15px;
  background-color: white;
}

.service-list li:nth-child(odd) {
  margin-right: 24px;
}

.service-img {
  min-height: 165px;
  width: 100%;
  margin-bottom: 19px;
}

.service-link {
  margin-left: 45px;
  margin-bottom: 0;
  padding-right: 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  background-image: url('/img/rec-right2.svg');
  background-repeat: no-repeat;
  background-position: 98%;
  background-position-y: 1px;
}

.service-discription {
  margin-top: 0;
  margin-left: 45px;
  margin-bottom: 0;
  padding-right: 126px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* advantages */

.advantages {
  padding-bottom: 70px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  border-radius: 15px;
  background-color: white;
}

.advantages-list li:nth-child(-n+4) {
  margin-bottom: 22px;
}

.advantages-list li:not(:nth-child(4)):not(:nth-child(8)) {
  margin-right: 22px;
}

.advantages-svg {
  margin-top: 40px;
  margin-left: 45px;
}

.advantages-discription {
  margin-top: 4px;
  margin-bottom: 0;
  padding: 0 42px 32px 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* placing */

.placing {
  padding-bottom: 70px;
}

.placing-list {
  display: flex;
  flex-wrap: wrap;
}

.placing-item {
  width: 374px;
  margin-bottom: 24px;
  padding-bottom: 58px;
  border-radius: 15px;
  background-color: white;
}

.placing-list li:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)) {
  margin-right: 24px;
}

.placing-last-item {
  width: 374px;
  height: 440px;
  margin-bottom: 0;
  padding-bottom: 0;
  background-image: url('/img/placing9.png');
  background-repeat: no-repeat;
}

.placing-another-choice {
  margin-top: 373px;
  margin-left: 54px;
  margin-bottom: 0;
  padding-right: 20px;
}

.another-choice {
  padding-right: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  background-image: url('/img/arrow-white.svg');
  background-repeat: no-repeat;
  background-position-x: 254px;
  background-position-y: 1px;
}

.placing-price {
  margin-top: 32px;
  margin-bottom: 0;
  padding-left: 45px;
}

.little-grey {
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.price {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.placing-night {
  margin-right: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.name-hotel {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.placing-hote-place {
  display: block;
  margin-bottom: 33px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.placing-rooms {
  margin-left: 45px;
  margin-bottom: 20px;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: white;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

/* want tour */

.want-tour {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 45px;
  background: #E9E9E9;
  border-radius: 15px;
}

.heading-want {
  padding-top: 45px;
}

.want-tour-btn {
  margin-top: 32px;
  margin-left: 41px;
  margin-bottom: 32px;
  padding: 13px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Muller';
  background-color: white;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  margin-left: 45px;
  width: 1080px;
  min-height: 106px;
  background-color: white;
  border-radius: 15px;
}

.form1 {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.input-data {
  width: 121px;
  border: none;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.other-form-margin {
  margin-left: 41px;
}

.lable {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.input-city {
  width: 169px;
  border: none;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  background-image: url('/img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position-x: 155px;
  background-position-y: 3px;
}

.input {
  width: 113px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.input:not(:last-of-type) {
  margin-right: 41px;
}

.input-first {
  margin-left: 28px;
}

/* Контакты */

.contacts {
  padding-top: 70px;
  padding-bottom: 40px;
}

.contacts-block {
  display: flex;
  background-color: white;
  border-radius: 15px;
}

.contacts-list {
  width: 40%;
}

.contacts-item {
  margin-top: 25px;
  margin-left: 45px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-item-block {
  display: flex;
}

.contacts-list li:nth-child(1) {
  padding-top: 45px;
  margin-top: 0;
}

.adress {
  width: 38%;
  margin: 0; 
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-discription {
  width: 62%;
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.little-grey-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.reception-img {
  margin: 45px 45px 45px 52px;
}

.yellow-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.contacts-btn {
  display: inline-block;
  margin-top: 45px;
  margin-left: 45px;
  margin-bottom: 45px;
  padding: 27px 29.5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-color: white;
  border: 1px solid #CC9933;
  border-radius: 10px;
  cursor: pointer;
}

/* footer */

.footer {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #333333;
  border-radius: 15px;
  background-image: url('/img/logo-footer.png');
  background-repeat: no-repeat;
  background-position: 80% 100%;
}

.footer-nav {
  display: flex;
}

.footer-list-left {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 30%;
}

.left-discription {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.footer-privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.footer-item-right:nth-child(2) {
  margin-bottom: 15px;
}

.footer-list-right {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 120px;
}

.right-discription {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.right-discription-tel {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
